<div class="popup-demo-container">
  <div class="header">
    <h2>{{ "POPUP_DEMO.TITLE" | translate }}</h2>
    <button routerLink="/" class="back-button">
      {{ "COMMON.BACK_TO_HOME" | translate }}
    </button>
  </div>

  <div class="help-icons-container">
    <div class="help-icon-item">
      <h3>{{ "POPUP_DEMO.HELP_ICON_1_TITLE" | translate }}</h3>
      <app-help-icon
        [title]="'POPUP_DEMO.HELP_ICON_1_TITLE' | translate"
        [message]="'POPUP_DEMO.HELP_ICON_1_MESSAGE' | translate"
      ></app-help-icon>
    </div>

    <div class="help-icon-item">
      <h3>{{ "POPUP_DEMO.HELP_ICON_2_TITLE" | translate }}</h3>
      <app-help-icon
        [title]="'POPUP_DEMO.HELP_ICON_2_TITLE' | translate"
        [message]="'POPUP_DEMO.HELP_ICON_2_MESSAGE' | translate"
      ></app-help-icon>
    </div>
  </div>

  <button class="open-complex-popup-btn" (click)="showComplexPopup = true">
    פתח פופאפ מורכב (טבלה + שדות)
  </button>

  <app-popup
    [open]="showComplexPopup"
    [title]="'פופאפ מורכב לדוגמה'"
    (close)="showComplexPopup = false"
    [size]="'large'"
  >
    <ng-container>
      <app-table [data]="tableData" [config]="tableConfig"></app-table>
      <form class="demo-form" [formGroup]="popupForm">
        <div *ngFor="let field of popupFields" class="field-item">
          <ng-container [ngSwitch]="field.type">
            <app-text-field
              *ngSwitchCase="'text'"
              [config]="field"
              [form]="popupForm"
            ></app-text-field>
            <!-- כאן אפשר להוסיף שדות נוספים (רדיו, סלקט וכו') -->
          </ng-container>
        </div>
        <button type="submit">שלח</button>
      </form>
    </ng-container>
  </app-popup>
</div>
