<div [formGroup]="form" class="form-group">
  <label [for]="config.name">{{ config.label || "" | translate }}</label>
  <textarea
    [id]="config.name"
    [formControlName]="config.name"
    [placeholder]="config.placeholder || '' | translate"
    [required]="config.required || false"
    [disabled]="config.disabled || false"
    rows="4"
  ></textarea>
  <div
    class="error-message"
    *ngIf="form.get(config.name)?.errors && form.get(config.name)?.touched"
  >
    <span *ngIf="form.get(config.name)?.errors?.['required']">{{
      "FORM.REQUIRED" | translate
    }}</span>
    <span *ngIf="form.get(config.name)?.errors?.['minlength']">{{
      "FORM.TOO_SHORT" | translate
    }}</span>
    <span *ngIf="form.get(config.name)?.errors?.['maxlength']">{{
      "FORM.TOO_LONG" | translate
    }}</span>
  </div>
</div>
