<div class="pagination-container">
  <div class="pagination-controls">
    <button
      class="pagination-button"
      [disabled]="currentPage === 1"
      (click)="onFirstPage()"
    >
      {{ "PAGINATION.FIRST" | translate }}
    </button>
    <button
      class="pagination-button"
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)"
    >
      {{ "PAGINATION.PREVIOUS" | translate }}
    </button>

    <div class="page-numbers">
      <button
        *ngFor="let page of pages"
        class="pagination-button"
        [class.active]="page === currentPage"
        (click)="onPageChange(page)"
      >
        {{ page }}
      </button>
    </div>

    <button
      class="pagination-button"
      [disabled]="currentPage === totalPages"
      (click)="onPageChange(currentPage + 1)"
    >
      {{ "PAGINATION.NEXT" | translate }}
    </button>
    <button
      class="pagination-button"
      [disabled]="currentPage === totalPages"
      (click)="onLastPage()"
    >
      {{ "PAGINATION.LAST" | translate }}
    </button>
  </div>

  <div class="page-size-selector">
    <label for="pageSize">{{ "PAGINATION.ITEMS_PER_PAGE" | translate }}:</label>
    <select
      id="pageSize"
      [value]="pageSize"
      (change)="onPageSizeChange($event)"
    >
      <option *ngFor="let size of pageSizeOptions" [value]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>
