<div [formGroup]="form" class="form-group">
  <label>{{ config.label || "" | translate }}</label>
  <div class="radio-group">
    <div *ngFor="let option of config.options" class="radio-option">
      <input
        type="radio"
        [id]="option.value"
        [name]="config.name"
        [value]="option.value"
        [formControlName]="config.name"
        [required]="config.required || false"
        [disabled]="config.disabled || false"
      />
      <label [for]="option.value">{{ option.label || "" | translate }}</label>
    </div>
  </div>
  <div
    class="error-message"
    *ngIf="form.get(config.name)?.errors && form.get(config.name)?.touched"
  >
    <span *ngIf="form.get(config.name)?.errors?.['required']">{{
      "FORM.REQUIRED" | translate
    }}</span>
  </div>
</div>
