<div class="form-container">
  <h2>{{ "FORM.FIELD_TYPES_TITLE" | translate }}</h2>
  <button routerLink="/" class="back-button">
    {{ "FORM.BACK" | translate }}
  </button>

  <form [formGroup]="form">
    <div class="fields-showcase">
      <div *ngFor="let field of showFields" class="field-item">
        <h3>{{ field.label || "" | translate }}</h3>

        <ng-container [ngSwitch]="field.type">
          <app-text-field
            *ngSwitchCase="'text'"
            [config]="field"
            [form]="form"
          ></app-text-field>

          <ng-container *ngSwitchCase="'radio'">
            <ng-container *ngIf="field.options?.length; else noOptionsRadio">
              <app-radio-field [config]="field" [form]="form"></app-radio-field>
            </ng-container>
            <ng-template #noOptionsRadio>
              <div class="error-message">
                {{ "FORM.NO_RADIO_OPTIONS" | translate }}
              </div>
            </ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="'select'">
            <ng-container *ngIf="field.options?.length; else noOptionsSelect">
              <app-select-field
                [config]="field"
                [form]="form"
              ></app-select-field>
            </ng-container>
            <ng-template #noOptionsSelect>
              <div class="error-message">
                {{ "FORM.NO_SELECT_OPTIONS" | translate }}
              </div>
            </ng-template>
          </ng-container>

          <app-checkbox-field
            *ngSwitchCase="'checkbox'"
            [config]="field"
            [form]="form"
          ></app-checkbox-field>

          <app-textarea-field
            *ngSwitchCase="'textarea'"
            [config]="field"
            [form]="form"
          ></app-textarea-field>

          <app-password-field
            *ngSwitchCase="'password'"
            [config]="field"
            [form]="form"
          ></app-password-field>
        </ng-container>
      </div>
    </div>
  </form>
</div>
