<div class="table-container">
  <table
    [class.striped]="config.striped"
    [class.hover]="config.hover"
    [class.bordered]="config.bordered"
  >
    <thead *ngIf="config.showHeader">
      <tr>
        <th
          *ngFor="let column of config.columns"
          [style.width]="column.width"
          [class.sortable]="config.sortable && column.sortable"
          (click)="onSort(column)"
        >
          {{ column.label | translate }}
          <span *ngIf="sortColumn === column.key" class="sort-icon">
            {{ sortDirection === "asc" ? "↑" : "↓" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paginatedData">
        <td *ngFor="let column of config.columns">
          <ng-container [ngSwitch]="column.type">
            <span *ngSwitchCase="'date'">{{ row[column.key] | date }}</span>
            <span *ngSwitchCase="'boolean'">{{
              row[column.key]
                ? ("TABLE.YES" | translate)
                : ("TABLE.NO" | translate)
            }}</span>
            <span *ngSwitchDefault>{{ row[column.key] }}</span>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="paginatedData.length === 0">
        <td [attr.colspan]="config.columns.length" class="no-data">
          {{ "TABLE.NO_DATA" | translate }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    *ngIf="config.pagination && totalPages > 1"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
