<div
  class="table-container"
  [class.sticky-header-enabled]="config.stickyHeader"
>
  <table
    [class.striped]="config.striped"
    [class.hover]="config.hover"
    [class.bordered]="config.bordered"
  >
    <thead
      *ngIf="config.showHeader"
      [class.sticky-header]="config.stickyHeader"
    >
      <tr>
        <th
          *ngFor="let column of config.columns"
          [style.width]="column.width"
          [class.sortable]="config.sortable && column.sortable"
          (click)="onSort(column)"
        >
          {{ column.label | translate }}
          <span *ngIf="sortColumn === column.key" class="sort-icon">
            {{ sortDirection === "asc" ? "↑" : "↓" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody [class.scrollable-body]="config.stickyHeader">
      <tr *ngFor="let row of paginatedData">
        <td *ngFor="let column of config.columns">
          <ng-container [ngSwitch]="column.type">
            <span *ngSwitchCase="'date'">{{ row[column.key] | date }}</span>
            <span *ngSwitchCase="'boolean'">
              {{
                row[column.key]
                  ? ("TABLE.YES" | translate)
                  : ("TABLE.NO" | translate)
              }}
            </span>
            <span *ngSwitchDefault>
              <ng-container
                *ngIf="
                  column.key === 'status' || column.key === 'name';
                  else noTranslate
                "
              >
                {{ row[column.key] | translate }}
              </ng-container>
              <ng-template #noTranslate>{{ row[column.key] }}</ng-template>
            </span>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="paginatedData.length === 0">
        <td [attr.colspan]="config.columns.length" class="no-data">
          {{ "TABLE.NO_DATA" | translate }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    *ngIf="config.paginationConfig.enabled && totalPages > 1"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [maxSize]="config.paginationConfig.maxSize"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
